@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Artist application") {

    <!-- Navbar -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src=@routes.Assets.versioned("images/logo.png") class="img-responsive margin" style="width:25%"></a>
            </div>
            </br>
            </br>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/signin">SIGN IN</a></li>
                    <li><a href="/signup">SIGN UP</a></li>
                </ul>
            </div>
        </div>
    </nav>

        <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Do you need an artist tonight?</h3>
        <div id="map"></div>
        <script>
                function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: -34.397, lng: 150.644},
                        zoom: 11
                    });
                    var infoWindow = new google.maps.InfoWindow({map: map});

                    // Try HTML5 geolocation.
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function(position) {
                            var pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude
                            };

                            infoWindow.setPosition(pos);
                            infoWindow.setContent('There are lots of artist near you! Register now');
                            map.setCenter(pos);
                        }, function() {
                            handleLocationError(true, infoWindow, map.getCenter());
                        });
                    } else {
                        // Browser doesn't support Geolocation
                        handleLocationError(false, infoWindow, map.getCenter());
                    }
                }

                function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                    infoWindow.setPosition(pos);
                    infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
                }

        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtkI8IgRZrJ3mkB0EDenF8TU_NbdcyZgU&callback=initMap">
        </script>
        <h3>Don't wait more!</h3>
    </div>

        <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Get your show, just in one tap</h3>
        <p>Findart is the easiest way to get your show. One tap and an artist comes directly to your party, dinner, social event or romantic private dinner. Your artist knows exactly where to go and what to do.</p>
    </div>

    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Whatever you want, wherever you are</h3>
        <p>Find the best DJ in town to smash your party. Find a clown who makes your childrenŽs birthday unforgettable. Get a portrait of yourself with an impressionism painter. Anything itŽs possible in your city.</p>
    </div>

    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Discover a new world</h3>
        <p>Your city is full of wonderful artists that you might didinŽt know. Connect with the underground culture, or just stay tune with the last fashion, it is up to you.</p>
    </div>

        <!-- Third Container (Grid) -->
    <div class="container-fluid bg-3 text-center">
        <h3 class="margin"></h3><br>
        <div class="row">
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/faq"><img src=@routes.Assets.versioned("images/FAQ.png") style="width:25%" alt="Image" align="center"></a>
            </div>
            <div class="col-sm-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/policies" align="center"><img src=@routes.Assets.versioned("images/policies.png")  style="width:25%" alt="Image"></a>
            </div>
        </div>
    </div>

        <!-- Footer -->
    <footer class="container-fluid bg-4 text-center">
        <p>Bootstrap Theme Made By <a href="http://www.w3schools.com">www.w3schools.com</a></p>
    </footer>

}
